extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='book') Book: #{bookinstance.book.title}


    div.form-group
      label(for='imprint') Imprint:
      input#imprint.form-control(type='text' placeholder='Publisher and date information' name='imprint' required='true' value=(undefined===bookinstance ? '' : bookinstance.imprint))
    div.form-group
      label(for='due_back') Date when book available:
      input#due_back.form-control(type='date' name='due_back_short' value=(bookinstance.due_back_short) placeholder=(bookinstance.due_back_short))

    div.form-group
      label(for='status') Status:
      select#status.form-control(type='select' placeholder='Select status' name='status' required='true')
        option(value='Maintenance' selected=(bookinstance.status==='Maintenance' ? 'Selected' : null)) Maintenance
        option(value='Available' selected=(bookinstance.status==='Available' ? 'Selected' : null)) Available
        option(value='Loaned' selected=(bookinstance.status==='Loaned' ? 'Selected' : null)) Loaned
        option(value='Reserved' selected=(bookinstance.status==='Reserved' ? 'Selected' : null)) Reserved

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg